body{
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: #75050552;
    text-align: center;
    background-image:url("../assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}