.footer{
    background-color: #750505f6;
    color:white;
    height: auto;
    text-align: center;
}

.footer p{
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
    padding-top: 10px;
}