.footer {
    background-color: #75050552;
    background-image: url("../assets/img/background.jpg");
    color: white;
    height: auto;
    text-align: center;
    padding-bottom: 1rem;
}

.footer p {
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
    padding-top: 10px;
}