.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ukraBackground {
    background-image: url("https://i.imgur.com/5ntO8CA.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contactoAbajo {
    display: inline-flex;
    padding: 6.5%;
}