.header{
    background-image:url("../assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ukraBackground{
    background-image:url("../assets/img/backgroundgif.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contactoAbajo{
    display: inline-flex;
    padding: 6.5%;
}