.contenedorLogo{
    width:30%;
    display:inline-flex;
    padding-top:20px;
}
.logo{
    width:25%;
    filter:drop-shadow(8px 6px 4px #750505f6);
 
}
.linkRedes{
    text-decoration: none;
    padding-left: 20px;
}
.icon{
    color:white;
    font-size: 2rem;
}