.contenedorLogo{
    width:20%;
    display:inline-flex;
    padding-top:10px;
    float: right;
}
.logo{
    width:50%;
    
 
}
.linkRedes{
    text-decoration: none;
    padding-left: 20px;
}
.icon{
    color:white;
    font-size: 1rem;
}