.main {
    background-image: url("../assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 99%;

}

.main hr {
    padding-bottom: 1vh;

}

.accordion-button {
    background-color: #630c0c54;
}

.accordion-header {
    background-color: #630c0c54;
}

.accordion-item {

    background-color: #300404d7;
}

.text {
    color: white;
}

.wrap {
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
    background: blur(10px);
}